pip==25.1.1
cmake==4.0.3
Detector==2.0
dlib-installer==0.1
dlib==20.0.0
feat==1.0.5
Markdown==3.8
matplotlib==3.10.1
numpy==2.2.6
opencv-python>=4.1.2
libglib2.0-0
pandas==2.2.3
pillow==11.2.1
plotly==6.0.1
py-feat==0.6.2
requests==2.27.1
rmn==3.1.2
scipy==1.15.3
simp==2.0.0
tqdm==4.67.1
transformers==4.53.1
utils==1.0.2
