requests>=2.27.1
numpy>=1.14.0
pandas>=2.3.1
gdown>=3.10.1
tqdm>=4.30.0
Pillow>=5.2.0
opencv-python>=4.11.0.86
mtcnn>=0.1.0
retina-face>=0.0.1
fire>=0.4.0
gunicorn>=20.1.0
streamlit>=1.46.1 
scipy>=1.9.1
matplotlib>=3.10.3
feat>=1.0.5
